@page "/sources"
@using TgStorage.Domain.Sources
@inherits TgPageComponentEnumerable<TgEfSourceDto, TgEfSourceEntity>

<PageTitle>@TgLocale.MenuMainSources</PageTitle>

<h1>@TgLocale.MenuMainSources</h1>

@if (IsBlazorLoading)
{
    <p><em>Loading...</em></p>
}
else
{
	<RadzenLabel Text="@ItemsSummaryString"></RadzenLabel>
	<RadzenDataGrid Data="@Dtos" TItem="TgEfSourceDto" AllowSorting="true">
		<Columns>
			<RadzenDataGridColumn TItem="TgEfSourceDto" Property="Id" Title=@TgLocale.FieldId SortProperty="Id" />
			<RadzenDataGridColumn TItem="TgEfSourceDto" Property="UserName" Title=@TgLocale.FieldUserName SortProperty="UserName" />
			<RadzenDataGridColumn TItem="TgEfSourceDto" Property="Title" Title=@TgLocale.FieldTitle SortProperty="Title" />
			<RadzenDataGridColumn TItem="TgEfSourceDto" Property="FirstId" Title=@TgLocale.FieldFirstId SortProperty="FirstId" />
			<RadzenDataGridColumn TItem="TgEfSourceDto" Property="Count" Title=@TgLocale.FieldCount SortProperty="Count" />
		</Columns>
	</RadzenDataGrid>
}
