@page "/versions"
@using TgStorage.Domain.Versions
@inherits TgPageComponentEnumerable<TgEfVersionDto, TgEfVersionEntity>

<PageTitle>@TgLocale.MenuMainVersions</PageTitle>

<h1>@TgLocale.MenuMainVersions</h1>

@if (IsBlazorLoading)
{
    <p><em>Loading...</em></p>
}
else
{
	<RadzenLabel Text="@ItemsSummaryString"></RadzenLabel>
	<RadzenDataGrid Data="@Dtos" TItem="TgEfVersionDto">
		<Columns>
			<RadzenDataGridColumn TItem="TgEfVersionDto" Property="Version" Title=@TgLocale.FieldVersion />
			<RadzenDataGridColumn TItem="TgEfVersionDto" Property="Description" Title=@TgLocale.FieldDescription />
		</Columns>
	</RadzenDataGrid>
}