@page "/"
@inherits TgPageComponentBase

<PageTitle>@TgLocale.AppTitleBlazor</PageTitle>

<h1>@AppUtils.AppVersionTitle</h1>

@* 
	<p role="status">Current count: @currentCount</p>
	<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>
	<RadzenButton Click="ButtonIncrement" Text="Click me"></RadzenButton> 
*@