@page "/filters"
@using TgStorage.Domain.Filters
@inherits TgPageComponentEnumerable<TgStorage.Domain.Filters.TgEfFilterEntity>

<PageTitle>@TgLocale.MenuMainFilters</PageTitle>

<h1>@TgLocale.MenuMainFilters</h1>

@if (IsBlazorLoading)
{
    <p><em>Loading...</em></p>
}
else
{
	<RadzenLabel Text="@ItemsSummaryString"></RadzenLabel>
	<RadzenDataGrid Data="@Items" TItem="TgEfFilterEntity">
		<Columns>
			<RadzenDataGridColumn TItem="TgEfFilterEntity" Property="IsEnabled" Title=@TgLocale.FieldIsEnabled  />
			<RadzenDataGridColumn TItem="TgEfFilterEntity" Property="FilterType" Title=@TgLocale.FieldFilterType />
			<RadzenDataGridColumn TItem="TgEfFilterEntity" Property="Name" Title=@TgLocale.FieldName />
			<RadzenDataGridColumn TItem="TgEfFilterEntity" Property="Mask" Title=@TgLocale.FieldMask />
			<RadzenDataGridColumn TItem="TgEfFilterEntity" Property="Size" Title=@TgLocale.FieldSize />
			<RadzenDataGridColumn TItem="TgEfFilterEntity" Property="SizeType" Title=@TgLocale.FieldSizeType />
		</Columns>
	</RadzenDataGrid>
}