@page "/proxies"
@using TgStorage.Domain.Proxies
@inherits TgPageComponentEnumerable<TgEfProxyDto, TgEfProxyEntity>

<PageTitle>@TgLocale.MenuMainProxies</PageTitle>

<h1>@TgLocale.MenuMainProxies</h1>

@if (IsBlazorLoading)
{
    <p><em>Loading...</em></p>
}
else
{
	<RadzenLabel Text="@ItemsSummaryString"></RadzenLabel>
	<RadzenDataGrid Data="@Dtos" TItem="TgEfProxyDto">
		<Columns>
			<RadzenDataGridColumn TItem="TgEfProxyDto" Property="Type" Title=@TgLocale.FieldType />
			<RadzenDataGridColumn TItem="TgEfProxyDto" Property="HostName" Title=@TgLocale.FieldHostname />
			<RadzenDataGridColumn TItem="TgEfProxyDto" Property="Port" Title=@TgLocale.FieldPort />
			<RadzenDataGridColumn TItem="TgEfProxyDto" Property="UserName" Title=@TgLocale.FieldUserName />
			<RadzenDataGridColumn TItem="TgEfProxyDto" Property="Password" Title=@TgLocale.ProxiesUserPassword />
			<RadzenDataGridColumn TItem="TgEfProxyDto" Property="Secret" Title=@TgLocale.ProxiesUserSecret />
		</Columns>
	</RadzenDataGrid>
}